body {
  background: #e3e3e3;
}

* {
  margin: 6px 0 auto;
}

h2 {
  text-align: center;
}

#map {
  height: 80%;
  width: 100%;
  text-align: center;
  clear: left;
  position: absolute;
}

#form {
  text-align: center;
  clear: both;
}
